.main-bg{
    background-image: url('../imgs/protruding-squares.svg');
    background-position: center center;
    background-size: cover;
    color: var(--white-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section{
    min-height: 100vh;
}

.white-bg{
    background: var(--white-color);
    color: var(--primary-color);
}