#notas {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    min-width: 360px;
    width: 100%;
    background-color: whitesmoke;
  }
  
  #notas td, #notas th {
    border: 0.1rem solid black;
    padding: 1rem;
    color: black;
    white-space: nowrap;
  }
  
  #notas tr:nth-child(even){background-color: #f2f2f2;}
  
  #notas tr:hover {background-color: #ddd;}
  
  #notas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rebeccapurple;
    color: black;
  }

  #notes caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
  }

.responsive-table {
    overflow: hidden;
    overflow-x: scroll;
}